//
// Color system
//

$body-bg:       #F0EDEE;

$primary:       #dd1313;
$secondary:     #020122;
$tertiary:      #0A090C;
$quaternary:    #07393C;  

$theme-colors: (
  "tertiary": $tertiary,
  "quaternary": $quaternary
);


// Options

$enable-rounded: false;


//Fonts