 svg>.svg-dotcom-rect {
     fill: theme-color("primary");
 }

 svg>.svg-dotcom-text {
     fill: $white;
 }

 svg>.svg-ad-text {
     fill: theme-color("secondary");
 }

 svg>.svg-car {
     fill: theme-color("primary");
 }