//Header 01
.c-header-01 {
    position: relative;
    color: white;
    background-color: #fff;
    /* $gradient: #fff 0%, #fff 92%, rgba(255, 255, 255, 0) 92%;
    @include gradient(top, $gradient); */

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        content: "";
        background: theme-color("secondary");
        ;
    }

    &:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        content: "";
        background: theme-color("primary");
        ;
    }

    // l-top-angle
    >.l-top-bar {
        position: relative;
        z-index: 2;
        padding: 0.5rem 0;
        display: none;
        @include invisible(hidden);

        @include media-breakpoint-up(sm) {
            display: block;
            @include invisible(visible);
        }

        &:after {
            z-index: -1;
            content: "";
            position: absolute;
            background: theme-color("secondary");
            ;
            display: block;
            width: 68%;
            height: 100%;
            right: 0;
            top: 0;

            @include media-breakpoint-up(sm) {
                width: 100%;
            }

            @include media-breakpoint-up(md) {
                width: 63%;
            }
        }

        &:before {
            @include media-breakpoint-up(md) {
                content: '';
                position: absolute;
                right: 68%;
                z-index: 0;
                border-right: 65px solid theme-color("secondary");
                ;
                border-left: 0 solid theme-color("secondary");
                ;
                border-bottom: 40px solid transparent;
                bottom: 0;
                top: 0;
            }

            @include media-breakpoint-up(md) {
                right: 63%;
            }
        }
    }

    // l-logo-area
    >.l-logo-area {
        padding-top: 0px;
        height: 53px;
        display: none;
        @include invisible(hidden);

        @include media-breakpoint-up(md) {
            display: flex;
            @include invisible(visible);
        }
    }

    // l-nav-area
    >.l-nav-area {
        position: relative;
        z-index: 2;

        @include media-breakpoint-up(md) {
            bottom: -25px;
        }

        &:before {

            @include media-breakpoint-up(lg) {
                position: absolute;
                top: 0;
                right: 68%;
                content: "";
                border-right: 56px solid theme-color("primary");
                border-top: 56px solid transparent;
            }

            @include media-breakpoint-up(xl) {
                right: 63%;
            }
        }

        &:after {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: #fff;
            z-index: -1;

            @include media-breakpoint-up(md) {
                background: theme-color("primary");
            }

            @include media-breakpoint-up(lg) {
                width: 68%;
            }

            @include media-breakpoint-up(xl) {
                width: 63%;
            }
        }
    }

    >.l-nav-area>.navbar {
        padding: .5rem 0;

        @include media-breakpoint-up(lg) {
            height: 56px;
        }
    }

    // variants - c-header-01
    &.--bg_dark {

        &:before {
            background: #333;
        }

    }

}

//c-header-01


.c-navbar-list {
    margin: 15px 15px 5px;

    @include media-breakpoint-up(lg) {
        margin: 0;
        margin-left: auto !important;
    }

    >.nav-item {
        position: relative;

        @include media-breakpoint-up(lg) {
            margin-right: 10px;

            &:last-child {
                margin-right: 0px;
            }
        }
    }

    >.nav-item>.nav-link {
        padding: 16px 10px;
        display: block;
        position: relative;
        color: #333;

        @include media-breakpoint-up(md) {
            color: #fff;
        }
    }

    >.nav-item.active {
        &:after {
            opacity: 1;
            visibility: visible;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    >.nav-item:hover {
        @include media-breakpoint-up(lg) {
            &:after {
                opacity: 1;
                visibility: visible;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    }

    >.nav-item.active>.nav-link {
        background-color: theme-color-level(primary, 3);
        color: #fff;
    }


    >.nav-item>.nav-link {
        &:before {
            @include media-breakpoint-up(md) {
                opacity: 1;
                visibility: visible;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    }

    >.nav-item:after {

        @include media-breakpoint-up(lg) {
            position: absolute;
            bottom: 0px;
            left: 0;
            content: "";
            background: $white;
            width: 100%;
            height: 4px;
            opacity: 0;
            visibility: hidden;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all ease .5s;
            transition: all ease .5s;
        }
    }
}

.c-dropdown {
    background: gray("200");

    @include media-breakpoint-up(md) {
        background: $white;
    }

    padding: 0px;

    >.dropdown-item {
        padding: 1rem;
    }
}



//Header 02

.l-header-02 {

    >.l-logo-area {
        height: 60px;
        background-color: theme-color("secondary");
    }

    >.l-logo-area .c-logo-img {
        height: 60px;
    }

    >.l-nav-area {
        position: relative;
        background-color: theme-color("primary");

        @include media-breakpoint-up(sm) {
            background-color: transparent;
        }
    }

    >.l-nav-area .angle-bar {
        position: relative;
        height: 50px;
        background-color: theme-color("primary");

        &:before {
            @include media-breakpoint-up(sm) {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: -20px;
                width: 40px;
                height: 100%;
                background: theme-color("primary");
                transform: skewX(37deg);
                z-index: -1;
            }
        }

        &:after {
            @include media-breakpoint-up(sm) {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: -20px;
                width: 40px;
                height: 100%;
                background: theme-color("primary");
                transform: skewX(-37deg);
                z-index: -1;
            }
        }

    }

}

.c-logo-img {
    display: block;
    >.o-logo-autodrive {
        max-height: 100%;
        margin: 0 auto;
        padding: 10px 0;
    }
}

.o-logo-svg {
    margin: 0 auto;
    height: inherit;
    display: block;
}


.o-social-nav {
    display: flex;
    justify-content: center;
    @extend .u-reset-ul;

    >.icon {
        padding: 0 .5em;
    }
}

//o-social-list