.o-logo-autodrive {
    >.svg-dotcom-rect {
        fill: theme-color("primary");
    }

    >.svg-dotcom-text {
        fill: $white;
    }

    >.svg-ad-text {
        fill: theme-color("secondary");
    }

    >.svg-car {
        fill: theme-color("primary");
    }
}

.o-logo-autodrive.--light {
    >.svg-dotcom-rect {
        fill: theme-color("primary");
    }

    >.svg-dotcom-text {
        fill: $white;
    }

    >.svg-ad-text {
        fill: $white;;
    }

    >.svg-car {
        fill: theme-color("primary");
    }
}